{% extends "main.html"%}
{% block content %}
<div class="card-section login item-info-card">
    <div class="row banner menu ">
        <div class="col-md-12">
            <h2> Deleting Category item .....!</h2>
            <hr>
            <hr>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form method="POST">
                    <label for="name">Are you Sure to Delete {{item.name}}</label>
                    <div>
                        <button type="submit" class="btn btn-success">
                            <span class="glyphicon glyphicon-glass"> </span>
                        Delete
                        </button>

                        <button type="submit" class="btn btn-default">
                                <span class="glyphicon glyphicon-remove"> </span>
                                <a href="{{url_for('show_Catalog')}}"> cancel</a>
                            
                            </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

